body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 2.5rem;
}


.div-container{
    display: flex;
    justify-content: center;
}   
.hotpink{
    background-color: #d95980;
}
.seablue{
    background:  #63aac0; ;
}
.orange{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}